<%- include("./partials/header.ejs") %> <%- include("./partials/navbar.ejs") %>
<div class="container">
  <div class="row mt-5">
    <h1>Home page</h1>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem iste sequi
      delectus totam commodi cum, natus repudiandae omnis. Distinctio
      repellendus dolorum in mollitia, blanditiis ipsum culpa facilis? Iure,
      fugiat qui.
    </p>
  </div>
</div>
<%- include("./partials/footer.ejs") %>
