<%- include("./partials/header.ejs") %> <%- include("./partials/navbar.ejs") %>
<div class="container">
  <div class="row mt-5">
    <h2>Login page</h2>
    <hr />
    <h4>Login From</h4>
  </div>
</div>
<%- include("./partials/footer.ejs") %>
